<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Submit Order Test" enabled="false">
		<classes>
			<class name="ecommerce.Tests.SubmitOrderTest" />
		</classes>
	</test>
	<test thread-count="5" name="Error validation Test">
		<classes>
			<class name="ecommerce.Tests.ErrorValidation">
				<methods>
					<include name="loginErrorValidation"></include>
					<include name="productErrorValidation"></include>
				</methods>
			</class>
			
		</classes>
	</test>
</suite> 
